# Config file for pisg (set up all your channels/logfiles here)
# For a list of all configuration options, see docs/pisg-doc.txt or
# docs/html/index.html for a HTML version.

<set maintainer ="Your nickname">
<user nick="Sebastien" alias="Sebastien Sebastien-" sex="m" pic="seb.jpg">
<set FoulWords="ass fuck bitch shit fucker cunt cock dick penis">
<set ViolentWords="slaps beats kick hits smacks stabs">
<set DailyActivity="31">
<set PicLocation="pics/">
<set ImagePath="pics/">
<set PicHeight="50">
<set PicWidth="55">
<set ShowWpl="1">
<set ShowCpl="1">
<set ShowWords="1">
<set ShowLineTime="1">
<set ShowFoulLine="1">
<set ShowMostNicks="1">
<set ShowSmileys="1">
<set ShowKarma="1">
<set ShowMostActiveByHour="1">
<set TopicHistory="10">
<set KarmaHistory="15">
<set NickTracking="1">
<user nick="\" alias="">
<user nick="x" ignore="y">
<user nick="chanserv" ignore="y">
<user nick="nickserv" ignore="y">
<user nick="saslserv" ignore="y">

<channel="#channel">
 Logfile="channel2.log"
 Format="mIRC"
 Network="SomeIRCNet"
 OutputFile="index.html"
</channel>

# (Eggdrop setup example)
<channel="#pisg">
 LogDir="/home/user/eggdrop/logs/"
 LogPrefix="%23pisg."
 Format="eggdrop"
 Network="freenode"
 OutputFile="/var/www/html/eggy.html"
</channel>
 
