
a {
    text-decoration: none;
    font-weight: bold;
}
a:link {
    color: #015d82;
}
a:visited {
    color: #009fb2;
}

a:hover {
    text-decoration: underline;
    color: #0078a8;
}

/* Autres liens (bas de page) */
a.background {
    text-decoration: none;
}

a.background:link {
    color: #002597;
}

a.background:visited {
    color: #002597;
}

a.background:hover {
    text-decoration: underline;
    color: #002597;
}

body {
    background-color: #d7f4ff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

#green-h {
	height: 15px;
	background-repeat: repeat-x;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8AgMAAADanzhpAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAFElEQVQI12NoYMAHHfBC/OAAPggA1jQWgUt+qs4AAAAASUVORK5CYII=) 0px 0px; }
#red-h {
	height: 15px;
	background-repeat: repeat-x;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8AgMAAADanzhpAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAFElEQVQI12NoYMAHHfBC/OAAPggA1jQWgUt+qs4AAAAASUVORK5CYII=) 0px -15px; }
#yellow-h {
	height: 15px;
	background-repeat: repeat-x;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8AgMAAADanzhpAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAFElEQVQI12NoYMAHHfBC/OAAPggA1jQWgUt+qs4AAAAASUVORK5CYII=) 0px -30px; }
#blue-h {
	height: 15px;
	background-repeat: repeat-x;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8AgMAAADanzhpAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAFElEQVQI12NoYMAHHfBC/OAAPggA1jQWgUt+qs4AAAAASUVORK5CYII=) 0px -45px; }

#green-v {
	width: 15px;
	background-repeat: repeat-y;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABAgMAAAD/diWSAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAGUlEQVQI12NYtWrVytDQ0AAGBgb7////AwA3TAczYjzlogAAAABJRU5ErkJggg==) 0px 0px; }
#red-v {
	width: 15px;
	background-repeat: repeat-y;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABAgMAAAD/diWSAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAGUlEQVQI12NYtWrVytDQ0AAGBgb7////AwA3TAczYjzlogAAAABJRU5ErkJggg==) -15px 0px; }
#yellow-v {
	width: 15px;
	background-repeat: repeat-y;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABAgMAAAD/diWSAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAGUlEQVQI12NYtWrVytDQ0AAGBgb7////AwA3TAczYjzlogAAAABJRU5ErkJggg==) -30px 0px; }
#blue-v {
	width: 15px;
	background-repeat: repeat-y;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAABAgMAAAD/diWSAAAADFBMVEXMzDPMMzNmzDMzZv+sVPgxAAAAGUlEQVQI12NYtWrVytDQ0AAGBgb7////AwA3TAczYjzlogAAAABJRU5ErkJggg==) -45px 0px; }

td {
    border-radius: 5px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    text-align: left;
}

.male, .male a {
    color: #0000DD;
}

.female, .female a {
    color: #f013c5;
}

.bot, .bot a {
    color: #339933;
}

.title {
    font-family: verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Les titres des rubriques */
.headtext {
    border-radius: 8px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: #f0802b;
}

/* Bords des titres */
.headlinebg {
    border-radius: 8px;
    background-color: #000000;
}

/* Les sous-titres des rubriques */
.tdtop {
    background-color: #bbbbbb;
    color: #000000;
}

/* Cellules "Big Numbers" */
.hicell {
    background-color: #dddddd;
}

/* Cellules "Users with most nicknames" */
.hicell10 {
    background-color: #dddddd;
    font-size: 10px;
}

/* Nombres des listes (2+) */
.rankc {
    background-color: #bbbbbb;
}

/* Nombres des listes (1) */
.hirankc {
    background-color: #999999;
    font-weight: bold;
}


.rankc10 {
    background-color: #cccccc;
    font-size: 10px;
}

/* heure autre que la plus frequentee */
.rankc10center {
    background-color: #dddddd;
    font-size: 10px;
    text-align: center;
}

/* heure la plus frequentee */
.hirankc10center {
    background-color: #999999;
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.small {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

.asmall {
      font-family: Verdana, Arial, sans-serif;
      font-size: 10px;
      text-align: center;
}
